{% extends "layoutgeneral.html.twig" %}
{% block titre %}
    Accueil
{% endblock %}


{% block contenu %}
    <!--<button type="button" class="btn btn-primary btn-lg"><a class="text-decoration-none text-white" href="{{ path('bookland_afficher_auteurs') }}">Liste d'auteurs</a></button><br>
    <button type="button" class="btn btn-primary btn-lg"><a class="text-decoration-none text-white" href="{{ path('bookland_afficher_livres') }}">Liste des livres</a></button><br>
    <button type="button" class="btn btn-primary btn-lg"><a class="text-decoration-none text-white" href="{{ path('bookland_afficher_genres') }}">Liste des genres</a></button><br>-->
{% endblock %}
