{% extends "layoutgeneral.html.twig" %}
{% block titre %}
    Ajouter un genre
{% endblock %}

{% block contenu %}
    <h1>Ajouter un genre</h1><br>
    {{ include('genre/_form.html.twig') }}
{% endblock %}
