{% extends "layoutgeneral.html.twig" %}
{% block titre %}
    Ajouter un auteur
{% endblock %}

{% block contenu %}
    <h1>Ajouter un auteur</h1><br>
    {{ include('auteur/_form.html.twig') }}
{% endblock %}
